<div class="parent-button">
  <!-- <button (click)="updateUser()">Update</button> -->
  <button (click)="exit()">Destroy Child</button>
  <!-- <button (click)="updateUserAgain()">UpdateAgain</button> -->
</div>

<br />
<br />

<!-- <app-child *ngIf="!isChildDestroyed" [userName]="userName">
  <div #contentWrapper>AfterContentInit</div>
</app-child>

<div *ngIf="isChildDestroyed">Chương trình đã bị hủy! :(</div> -->

<!-- expression -->
<!-- <p>{{user.name}}</p>
<p>{{user.age}}</p> -->




