<!-- <app-child></app-child>
<app-parent></app-parent> -->

<!-- <app-child *nglf="user.age >= 18" [userName]="user.name"></app-child>
<div *nglf="user.age <18" >Quan Hoang</div>

<button {click} ="user.name = user.age - 1">-</button>
Age :{{user.age}}
<button {click} ="user.name = user.age + 1">-</button> -->

<!-- NgFor Structural Directive cung cấp cho cta những biến : -->
<ul>
  <ng-container *ngIf ="users.length > 0; else NoUser">

    <li
      *ngFor="
        let u of users;
        index as idx;
        count as total;
        first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd;
      "
    >
    <span>{{u.name}} - {{u.id}} - {{u.phone}}</span>
    <br/>
    <span>at index {{idx}} out of {{total}}</span>
    <br/>
    <span *ngIf="isEven">even number</span>
    <br/>
    <span *ngIf="isOdd">odd number</span>
    <br/>
    <span *ngIf="isLast">last number</span>
    <br/>
    <span *ngIf="isFirst">first number</span>
    <br/>
    <br/>
    <br/>
  </li>
  </ng-container>
  <ng-template #NoUser>No user</ng-template>
  <!-- vd khác -->
  <br/>
<!-- <button *ngFor="let tag of tags;first as isFirst" [class.color] = "!isFirst">{{tag}}</button> -->
</ul>
<br>
<br>
<br>
<br>
<!-- <app-bs-tab-group>
  <app-tab-panel title="Tab 1">content tab 1</app-tab-panel>
  <app-tab-panel title="Tab 2">content tab 2</app-tab-panel>
  <app-tab-panel title="Tab 3">content tab 3</app-tab-panel>
</app-bs-tab-group> -->
<br>
<br>
<br>
<br>
<app-studentsdetail [students]="student1">
<h5 #color project>Student Internship Project: ABC</h5>
<h5 content>Student Contact No: 1111567890</h5>
</app-studentsdetail>

<app-studentsdetail [students]="student2">
  <h5 #color>Student Internship Project: PQR</h5>
  <h5>Student Contact No: 2222567890</h5>
</app-studentsdetail>

<app-studentsdetail [students]="student3">
  <h5 #color>Student Internship Project: XYZ</h5>
  <h5>Student Contact No: 3333567890</h5>
</app-studentsdetail>
